body {
	font-family: helvetica; 
	color: black;
}

a {
	color: white;
}

h1 {
	font-size: 4vw;
	font-family: headline-gothic-atf, sans-serif;
	background-color: black;
	color: white;
	text-align: center;
	width: 100%;
	padding-top: 2vw;
}

h2 {
	font-size: 10vw;
	font-family: headline-gothic-atf, sans-serif;
	background-color: black;
	color: white;
	text-align: center;
	width: 100%;
	padding-bottom: 2vw;
}

.article1 {
	font-size: 3vw;
	font-family: headline-gothic-atf, sans-serif;
	background-color: black;
	color: white;
	position: fixed;
	text-align: center;
	top: 20vw;
	left: 6vw;
	width: 30vw;
	padding: 2vw;
}

.article2 {
	font-size: 3vw;
	font-family: headline-gothic-atf, sans-serif;
	background-color: black;
	color: white;
	position: fixed;
	text-align: center;
	top: 25vw;
	left: 40.5vw;
	width: 23vw;
	padding: 2vw;
}

.article3 {
	font-size: 3vw;
	font-family: headline-gothic-atf, sans-serif;
	background-color: black;
	color: white;
	position: fixed;
	text-align: center;
	top: 25vw;
	right: 8vw;
	width: 25vw;
	padding: 2vw;
}

