body {
	font-family: helvetica; 
	color: black;
	background-color: white;
}

a {
	color: black;
	text-decoration: none;
}

h1 {
	font-size: 4vw;
	font-family: headline-gothic-atf, sans-serif;
	text-align: center;
	position:fixed;
	top:0px;
	left:0px;
	width: 100%;
	padding-top: 2vw;
}

.nav {
	width:100%;
	padding:20px;
	position:fixed;
	top:6vw;
	left:0px;
	display: flex;
	flex-wrap:wrap;
	justify-content: space-around;
}

.btn {
	border-bottom:1px solid black;
	padding:10px;
}

.container {
	display: flex;
	flex-wrap:wrap;
	width: 100%;
	margin-top:10vw;
}

.image {
	width: 33%;
	font-size: 1vw;
}

.image img {
	margin-left: 0%;
	padding: 1vw;
	border-radius: 2vw;
	width: 100%;
	mix-blend-mode: 
}

.article {
	font-size: 1vw;
	color: black;
	background-color: white;
	text-align: center;
	width: 20vw;
	padding: 2vw;
	border-bottom: 1px solid black;
}

