body {
	font-family: helvetica; 
	color: black;
	background-color: white;
}

a {
	color: black;
	text-decoration: none;
}

h1 {
	font-size: 4vw;
	font-family: headline-gothic-atf, sans-serif;
	text-align: center;
	width: 100%;
	padding-top: 2vw;
}

.text {
	width: 50%; 
	margin: auto;
	font-size: 2vw;
	padding: 2vw;
	text-align: center;
	
}