body {
	color: black;
	font-size: 2vw;
	font-family: industry, sans-serif;
	font-style: normal;
}

/* article1 css */

h1 {
	padding: 1vw;
	color: white;
	background-color: black;
	width: 90vw;
	font-family: industry-inc-stencil, sans-serif;
}

.h1 {
	font-size: 1vw;
	padding: 0.5vw;
	width: 25vw;
	text-align: center;
}

.h2 {
	font-size: 3vw;
	width: 25vw;
	text-align: center;
}

h2 {
	font-size: 2vw;
	padding: 3vw;
	text-align: center;
}

h3 {
	font-size: 5vw;
	text-align: center;
	font-family: industry-inc-base, sans-serif;
	border-top: black 1px solid;
	border-bottom: black 1px solid;
	padding: 3vw;
}


h4 {
	font-size: 2vw;
	padding-top: 3vw;
	padding-bottom: 5vw;
	text-align: center;
}

.grid {
	display: flex;
	flex-wrap:wrap;
}

.intro {
	font-size: 2vw;
	padding-left: 10vw;
	padding-right: 10vw;
	text-align: center;
}

.titleimage {
	padding: 3vw;
	width: 40%;
}

.titleimage img {
	height: 80vh;
	margin-left: 35%;
	border: black 1px solid;
}

.text {
	font-size: 2vw;
	text-indent: 5vw;
	padding-left: 10vw;
	padding-right: 10vw;
	text-align: left;
	width: 60%;
}

.noindent {
	text-indent: 0px;

}

.trumpmeme {
	width: 40%;
	padding-left: 6vw;
	margin-top: -60vw;
}

.trumpmeme img {
	width: 25vw;
	height: all;
}

.endp {
	padding-bottom: 2vw;
}

p {
	width: 100%;
	padding-top: 1vw;
}

/* article2 css */
/* article3 css */



