body {
	background-color: darkolivegreen;
}

.shakespeare {
	position: fixed;
	bottom: 35vw;
	left: 0vw;
	animation: bounce 10s infinite alternate linear; 

}

@keyframes bounce {
	0% {
		bottom: 0vw;
		left: 0vw;

	}
	25% {
		bottom: 30vw;
		left: 40vw;
	}

	50% {
		bottom: 5vw;
		left: 80vw;

	}

	100% {
		bottom: 27vw;
		left: 0vw;
}
}

.word1 {
	font-family: monaco;
	font-size: 3vw;
	color: white;
	text-transform: uppercase;
	text-align: left;
	margin-top: 52vw;
	transform: rotate(90deg);
}
.word2 {
	font-family: monaco;
	font-size: 3vw;
	color: white;
	text-transform: uppercase;
	text-align: center;
}

.word3 {
	font-family: monaco;
	font-size: 3vw;
	color: white;
	text-transform: uppercase;
	text-align: right;
	margin-top: 5vw;
	transform: rotate(90deg);
}

.mada {
	font-family: monaco;
	font-size: 1vw;
	color: black;
	text-transform: uppercase;
	position: fixed;
	bottom: 1vw;
	right: 0vw;
	
}

.OPE {
	font-family: monaco;
	font-size: 1vw;
	color: black;
	text-transform: uppercase;
	position: fixed;
	bottom: 0vw;
	right: 1vw;
	
	
}

.date {
	font-family: monaco;
	font-size: 1vw;
	color: black;
	text-transform: uppercase;
	position: fixed;
	bottom: 1vw;
	right: 12vw;
	


}