.word1 {
	font-family: monaco;
	font-size: 3vw;
	text-transform: uppercase;
	text-align: left;
	margin-top: 52vw;
	transform: rotate(90deg);
}
.word2 {
	font-family: monaco;
	font-size: 3vw;
	text-transform: uppercase;
	text-align: center;
}

.word3 {
	font-family: monaco;
	font-size: 3vw;
	text-transform: uppercase;
	text-align: right;
	margin-top: 5vw;
	transform: rotate(90deg);
}

.mada {
	font-family: monaco;
	font-size: 1vw;
	text-transform: uppercase;
	position: fixed;
	bottom: 1vw;
	right: 0vw;
	
}

.OPE {
	font-family: monaco;
	font-size: 1vw;
	text-transform: uppercase;
	position: fixed;
	bottom: 0vw;
	right: 1vw;
	
	
}

.date {
	font-family: monaco;
	font-size: 1vw;
	text-transform: uppercase;
	position: fixed;
	bottom: 1vw;
	right: 12vw;
	


}